In [1]:
# We start by importing the necessary modules for this test

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
# I have my dataset stored locally, so I read it locally and take a view of the first five rows

df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# I randomly sample the dataset just to have a view
df.sample(5)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
12261,2016-04-05 20:30:00,80,10,23.00,42.326667,20.76,44.500000,24.890000,38.290000,21.50,...,20.790000,38.900000,10.650000,752.850000,71.500000,3.500000,40.000000,5.650000,38.645281,38.645281
18424,2016-05-18 15:40:00,80,0,23.39,40.730000,24.10,36.826667,24.390000,38.626667,23.50,...,22.600000,38.200000,17.700000,749.666667,53.333333,7.333333,36.333333,8.000000,25.905559,25.905559
3059,2016-02-01 22:50:00,70,20,23.29,44.966667,22.39,43.900000,23.290000,45.000000,21.73,...,17.823333,49.826667,10.133333,759.800000,93.666667,9.000000,60.666667,9.166667,5.645629,5.645629
15436,2016-04-27 21:40:00,60,10,22.10,34.966667,19.70,37.000000,21.500000,34.500000,20.29,...,18.926667,33.663333,3.433333,754.600000,85.333333,1.000000,40.000000,1.200000,26.734124,26.734124
3802,2016-02-07 02:40:00,50,0,22.10,43.590000,21.39,43.230000,21.963333,44.790000,19.10,...,19.100000,49.500000,11.066667,741.333333,66.000000,8.666667,40.000000,4.833333,30.638367,30.638367

In [4]:
# I drop the unnecessary columns
df = df.drop(['date', 'lights'], axis=1)

In [5]:
# I then scale the data using the MinMaxScaler 
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
normalized_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

## Now I can start answering the questions

From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two D.P?

In [6]:
# I select the required columns first,

X = normalized_df[['T2']]
y = normalized_df[['T6']]

# Then I split the predictor ie X which is T2 and the predicted, that is y, which is T6 into, train and test data
# Using a test size of 30%, as recommended and a random state of 42 for reproducibility

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.3, random_state = 42)

In [7]:
# I instantiate my linear model
linear_model = LinearRegression()

# I fit in my training data
linear_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
# Now I predict my values on the test data
predicted_values = linear_model.predict(X_test)

# I also ge the r_2 score, and print it out in 2 decimal places
my_r2_score = r2_score(y_test, predicted_values)
print('The r_2_score for the simple linear model in two decimal places is {}'.format(round(my_r2_score, 2)))

The r_s_score for the simple linear model in two decimal places is 0.64

## Now I train a multivariate linear regression to answer the other questions

In [9]:
# I basically follow the same steps as above
X = normalized_df.drop('Appliances', 1)
y = normalized_df[['Appliances']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

linear_model.fit(X_train, y_train)
multi_linear_predicted_values = linear_model.predict(X_test)

### MAE

In [10]:
# I then start getting the errors
mae_test = mean_absolute_error(y_test, multi_linear_predicted_values)
round(mae_test, 2)

0.05

### RESIDUAL SUM OF SQUARES

In [11]:
rss = np.sum(np.square(y_test-multi_linear_predicted_values))
round(rss, 2)

Appliances    45.35
dtype: float64

### RSME

In [12]:
linear_rsme = round(np.sqrt(mean_squared_error(y_test, multi_linear_predicted_values)), 3)
linear_rsme

0.088

### R2 Score

In [13]:
my_r2_score = r2_score(y_test, multi_linear_predicted_values)
round(my_r2_score, 2)

0.15

Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [14]:
def get_weights_df_mod(model, feat, col_name):
    '''This Function returns the weight of every feature'''
    weights = pd.Series(model.coef_.tolist()[0], feat.columns.tolist()).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [15]:
linear_weights = get_weights_df_mod(linear_model, X_train, 'Linear weights')

In [16]:
min_weight = linear_weights['Linear weights'].min()
max_weight = linear_weights['Linear weights'].max()

In [17]:
linear_weights[(linear_weights['Linear weights'] == min_weight) | (linear_weights['Linear weights'] == max_weight)]

   Features  Linear weights
0      RH_2       -0.456698
25     RH_1        0.553547

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [18]:
# Basically still the same steps
ridge_reg = Ridge(alpha = 0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [19]:
predicted_ridge = ridge_reg.predict(X_test)
ridge_rsme = round(np.sqrt(mean_squared_error(y_test, predicted_ridge)), 3)
ridge_rsme, linear_rsme

(0.088, 0.088)

### We see no changes in the RSME values for the ridge and the linear models

What is the new RMSE with the Lasso Regression (in 3 decimal places)?

In [20]:
# Still the usual steps
lasso_reg = Lasso(alpha = 0.001)
lasso_reg.fit(X_train, y_train)
predicted_lasso = lasso_reg.predict(X_test)

In [21]:
lasso_rsme = round(np.sqrt(mean_squared_error(y_test, predicted_lasso)), 3)
lasso_rsme

0.094

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [22]:
def get_weights_df(model, feat, col_name):
    '''This Function returns the weight of every feature'''
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [23]:
lasso_weight = get_weights_df(lasso_reg, X_train, 'Lasso_weight')
lasso_weight[lasso_weight['Lasso_weight'] != 0]

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880